{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h2>{{ notification }}</h2>

    {% if username %}
        <table class="table table-striped">
            <tr>
                <th>Username</th>
                <th>Cash</th>
            </tr>
            <tr>
                <td>{{ username }}</td>
                <td>{{ cash }}</td>
            </tr>
        </table>
    {% endif %}

    {% if transactions %}
        <table class="table table-striped table-dark">
            <tr>
        <!-- Make clear whether a stock was bought or sold and include the stock’s symbol,
            the (purchase or sale) price, the number of shares bought or sold, and the date and time at which the transaction occurred -->
                <th>Transaction Type</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Date and Time</th>
            </tr>
            {% for trans in transactions %}
                <tr>
                    <td>{{ trans.type }}</td>
                    <td>{{ trans.stock }}</td>
                    <td>{{ trans.price | usd }}</td>
                    <td>{{ trans.amount }} </td>
                    <td>{{ trans.timestamp }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
